PORT=5000
NODE_ENV=development
MONGO_URI =mongodb://127.0.0.1:27017/cafe
# MONGO_URI=mongodb+srv://cafe:@cafe_password_123@cafe-cluster.bcx26hh.mongodb.net/
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
OWNER_USERNAME=demo
OWNER_PASSWORD=demo123
CAFE_NAME=My Cafe
WHATSAPP_NUMBER=03237725806
CLIENT_URL=http://localhost:5173
# RATE_LIMIT_MAX=100